.about {
  padding: 73px calc(8% - 1px) 60px;
  position: relative;
  overflow-x: clip;

  @media (max-width: $bp-tablet-only) {
    padding: 39px 6% 20px;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 400px 6% 20px 3%;
  }
}

.about__bg {
  position: absolute;

  &--left {
    left: 0;
    top: 307px;
    transform: translateY(-50%);
    z-index: 1;
    overflow: hidden;

    @media (max-width: $bp-tablet-only) {
      left: -210px;
      top: 279px;
      width: 685px;
      height: 402px;
    }

    @media (max-width: $bp-mobile-only) {
      left: -252px;
      top: -4px;
      transform: none;
    }
  }

  &--right {
    right: 0;
    top: -96px;

    @media (max-width: $bp-tablet-only) {
      display: none;
    }
  }
}

.about__container {
  margin: 32px auto;
  max-width: $bp-max-limiter;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $bp-mobile-only) {
    margin: 44px 0 0;
  }
}

.about__wrapper {
  width: calc(100vw - 70%);

  @media (max-width: $bp-tablet-only) {
    width: calc(100vw - 65%);
    margin: 0 -6px 0 0;
  }

  @media (max-width: $bp-mobile-only) {
    width: 100%;
  }

  @media (min-width: 2100px) {
    width: calc(100vw - 80%);
  }

  @media (min-width: 2400px) {
    width: calc(100vw - 90%);
  }
}

.about__text-header {
  margin: 56px 0 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @media (max-width: $bp-tablet-only) {
    margin: 34px 0 0;
    font-size: 18px;
    line-height: 18px;
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 16px;
    line-height: 16px;
  }

  &--more {
    margin: 30px 0 0;

    @media (max-width: $bp-tablet-only) {
      margin: 32px 0 0;
    }

    @media (max-width: $bp-mobile-only) {
      margin: 45px 0 0;
    }
  }
}

.about__text-content {
  margin: 16px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  @media (max-width: $bp-tablet-only) {
    margin: 14px 0 0;
  }

  @media (max-width: $bp-mobile-only) {
    line-height: 20px;
  }
}
