.advantage-card {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  background-color: $color-default-white;
  border: 1px solid rgba(2, 102, 193, 0.1);
  min-height: 330px;

  @media (max-width: $bp-tablet-only) {
    padding: 30px 20px;
    width: 100%;
    min-height: auto;
    height: fit-content;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 20px 10px;
  }
}

.advantage-card__image {
  width: 54px;
  height: 54px;
  border: 1px solid #0266c1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $bp-tablet-only) {
    width: 48px;
    height: 48px;
  }

  @media (max-width: $bp-mobile-only) {
    width: 42px;
    height: 42px;
  }
}

.advantage-card__title {
  margin: 30px 0 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;

  @media (max-width: $bp-tablet-only) {
    margin: 25px 0 0;
    font-size: 16px;
    line-height: 16px;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 23px 0 0;
    font-size: 14px;
    line-height: 14px;
  }
}

.advantage-card__text {
  margin: 15px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;

  @media (max-width: $bp-tablet-only) {
    font-size: 12px;
    line-height: 18px;
  }
}
