.button {
  display: block;
  border: 1px solid $color-navy-blue;
  box-sizing: border-box;
  color: $color-default-white;
  background-color: $color-navy-blue;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  user-select: none;

  &:focus-visible,
  &:hover,
  &:focus {
    border-color: #1c3374;
    color: #1c3374;
    background-color: $color-default-white;
    outline: 0;
  }

  &:active {
    border-color: #1c3374;
    color: $color-default-white;
    background-color: #1c3374;
  }

  &:disabled {
    border-color: rgba(2, 102, 193, 0.1);
    color: $color-default-white;
    background-color: rgba(2, 102, 193, 0.1);
  }
}
