.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  // width: 340px;
  // padding: 14px 0 28px;

  // @media screen and (max-width: 767px) {
  //   padding: 4px 0 48px;
  //   width: 100%;
  // }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    // @media screen and (max-width: 767px) {
    //   align-items: flex-start;
    //   flex-direction: column;
    // }

    input,
    textarea {
      flex-grow: 1;
      min-height: 48px;
      padding: 18px 15px;

      border: 1px solid transparent;
      outline: none;

      transition: border 0.3s ease;

      // @media screen and (max-width: 767px) {
      //   max-width: unset;
      //   width: 100%;
      // }

      &:hover {
        border: 1px solid #0266C1;

        &::placeholder {
          color: #0266C1;
        }
      }

      &:active,
      &:focus {
        border: 1px solid #1C3374;
      }

      &:disabled {
        border: 1px solid rgba(2, 102, 193, 0.1);

        &::placeholder {
          color: rgba(2, 102, 193, 0.1);
        }
      }
    }
  }

  // &__label {
  //   @media screen and (max-width: 767px) {
  //     margin: 0 0 18px 0;
  //   }
  // }

  // &__error {
  //   position: absolute;
  //   right: 0;
  //   bottom: -25px;

  //   color: #ff1553;

  //   opacity: 0;

  //   transition: opacity 0.3s ease;

  //   @media screen and (max-width: 767px) {
  //     bottom: 0;
  //   }
  // }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid #ff121f;

      &:focus,
      &:hover {
        border: 1px solid #ff121f;
      }
    }
  }

  &.is-valid {
    input {
      border: 1px solid #22b259;

      &:focus,
      &:hover {
        border: 1px solid #22b259;
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -25px;
    text-align: left;

    &.is-invalid {
      color: #ff0000;

      @media screen and (max-width: 1199px) {
        right: -100%;
        bottom: 50%;
        transform: translate(-60%, 50%);
      }
    }

    &.is-valid {
      color: #15ab07;

      @media screen and (max-width: 1199px) {
        right: -60%;
        bottom: 50%;
        transform: translate(-60%, 50%);
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
