.link {
  &--light {
    color: $color-default-white;

    &:hover,
    &:focus {
      outline: 0;
      color: #1c3374;
    }

    &:active {
      color: #0266c1;
    }

    &:disabled {
      color: rgba(255, 255, 255, 0.1);
    }
  }

  &--dark {
    color: $color-elephant;

    &:hover,
    &:focus {
      outline: 0;
      color: #1c3374;
    }

    &:active {
      color: #0266c1;
    }

    &:disabled {
      color: rgba(2, 102, 193, 0.1);
    }
  }
}
