.main-footer {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    background: rgba(45, 56, 63, 0.2);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  padding: 30px calc(8% + 5px) 30px;
  max-width: $bp-max-limiter;
  margin: 0 auto;
  box-sizing: content-box;

  @media (max-width: $bp-tablet-only) {
    padding: 44px 6% 40px;
    position: relative;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 30px 6%;
  }
}

.main-footer__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $bp-mobile-only) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.main-footer__logo {
  &:hover,
  &:focus {
    & svg {
      fill: #1c3374;
    }
  }

  &:active {
    & svg {
      fill: #0266c1;
    }
  }

  &:disabled {
    & svg {
      fill: #ffffff;
      opacity: 0.1;
    }
  }

  & svg {
    width: 205px;
    height: 60px;

    @media (max-width: $bp-tablet-only) {
      width: 118px;
      height: 34px;
    }

    @media (max-width: $bp-mobile-only) {
      width: 112px;
      height: 34px;
    }
  }
}

.main-footer__menu {
  margin: -4px 0 0 -64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
  flex-wrap: wrap;

  @media (max-width: $bp-tablet-only) {
    margin: -10px 2px 0 0;
    gap: 10px;
  }

  @media (max-width: $bp-mobile-only) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 10px 0 0 -4px;
    width: 100%;
  }
}

.main-footer__menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 22px;
  flex-wrap: wrap;

  @media (max-width: $bp-tablet-only) {
    gap: 10px;
  }

  @media (max-width: $bp-mobile-only) {
    gap: 9px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

.main-footer__menu-link {
  padding: 3px 5px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  width: fit-content;

  @media (max-width: $bp-tablet-only) {
    font-size: 14px;
    line-height: 14px;
  }
}

.main-footer__phone {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  @media (max-width: $bp-tablet-only) {
    display: none;
  }
}

.main-footer__social-list {
  margin: 10px auto 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 15px;
  width: fit-content;

  @media (max-width: $bp-tablet-only) {
    margin: 30px auto 0;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 26px auto 0 0;
  }
}

.main-footer__social-link {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(45, 56, 63, 0.3);
  box-sizing: border-box;

  &:focus-visible,
  &:hover,
  &:focus {
    border: 1px solid rgba(45, 56, 63, 1);
    outline: 0;
  }

  &:active {
    border: 1px solid $color-navy-blue;
    background-color: $color-navy-blue;

    & svg {
      fill: $color-default-white;
    }
  }

  &:disabled {
    border: 1px solid rgba(45, 56, 63, 0.3);

    & svg {
      fill: rgba(45, 56, 63, 0.3);
    }
  }
}

.main-footer__policy {
  margin-top: 20px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;

  @media (max-width: $bp-mobile-only) {
    text-align: left;
  }
}
