.menu-item {
  position: relative;

  &--light{
    color: $color-default-white;

    &:focus-visible {
      outline: 0;
    }

    &:hover::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border-bottom: 1px solid $color-default-white;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:focus::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border: 1px solid $color-default-white;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:active::after {
      position: absolute;
      content: "";
      border: 0;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &--dark{
    color: $color-elephant;

    &:focus-visible {
      outline: 0;
    }

    &:hover::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border-bottom: 1px solid $color-elephant;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:focus::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border: 1px solid $color-elephant;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:active::after {
      position: absolute;
      content: "";
      border: 0;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}







