.nearest-tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 123px calc(8% + 5px) 20px;
  position: relative;
  overflow-x: clip;

  @media (max-width: $bp-tablet-only) {
    padding: 88px calc(6% + 5px) 20px;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 66px 5% 20px;
  }
}

.nearest-tours__container {
  position: relative;
  max-width: $bp-max-limiter;
  width: 100%;
}

.nearest-tours__swiper {
  margin: 54px 0 0;

  @media (max-width: $bp-tablet-only) {
    margin: 42px 0 0;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 28px 0 0;
  }
}

.nearest-tours__link {
  margin: 52px auto 0;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  width: fit-content;

  @media (max-width: $bp-mobile-only) {
    margin: 29px auto 0;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}

.nearest-tours__bg {
  position: absolute;

  &--left {
    left: 0;
    top: 502px;

    @media (max-width: $bp-tablet-only) {
      display: none;
    }
  }

  &--right {
    right: 0;
    top: -18px;

    @media (max-width: $bp-tablet-only) {
      right: -307px;
      top: -95px;
    }

    @media (max-width: $bp-mobile-only) {
      width: 346px;
      height: 595px;
      right: -170px;
      top: 138px;
    }
  }
}

.nearest-tours__title {
  @media (max-width: $bp-tablet-only) {
    margin: 0 0 0 -6px;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 0;
  }
}

.nearest-tours__buttons-wrapper {
  top: 4px;
  right: 0;

  @media (max-width: $bp-tablet-only) {
    top: -5px;
    right: -7px;
  }

  @media (max-width: $bp-mobile-only) {
    top: 6px;
    right: 0;
  }
}
