.questions {
  position: relative;
  min-height: 800px;
  padding: 300px 8% 40px;
  overflow: hidden;

  @media (max-width: $bp-tablet-only) {
    padding: 190px 6% 40px;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 180px 4% 40px;
  }
}

.questions__bg {
  position: absolute;
  top: calc(50% - 13px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(0deg, rgb(255, 255, 255) 30%, rgb(83, 92, 75) 1%);

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $bp-tablet-only) {
    top: 50%;

    & img {
      height: 679px;
    }
  }

  @media (max-width: $bp-mobile-only) {
    & img {
      height: 621px;
    }
  }
}

.questions__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: $bp-max-limiter;
  margin: 0 auto;
}

.questions__title {
  margin: 0 0 0 -14px;
  color: $color-default-white;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  text-align: center;

  @media (max-width: $bp-tablet-only) {
    margin: 3px 0 0 -3px;
    font-size: 25px;
    line-height: 25px;
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 22px;
    line-height: 22px;
  }
}

.questions__text {
  margin: 16px 0 0 -16px;
  color: $color-default-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  @media (max-width: $bp-tablet-only) {
    margin: 20px 0 0;
    padding: 0 25%;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 11px 0 0;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
  }
}

.questions__form {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media (max-width: $bp-tablet-only) {
    margin: 30px 0 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 25px 0 0;
    width: 100%;
  }
}

.questions__input-wrapper {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  & input {
    padding: 18px 30px;
    min-height: 64px;
    width: 340px;
  }

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    opacity: 0.5;
  }

  @media (max-width: $bp-tablet-only) {
    font-size: 14px;
    line-height: 14px;

    & input {
      padding: 16px 14px;
      min-height: 48px;
      width: 266px;
    }

    &::placeholder {
      font-size: 14px;
      line-height: 14px;
    }
  }

  @media (max-width: $bp-mobile-only) {
    width: 100%;

    & input {
      width: 100%;
    }
  }
}

.questions__button {
  padding: 24px 74px;

  @media (max-width: $bp-tablet-only) {
    padding: 20px 74px;
    margin: 7px 0 0;
    width: 266px;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 0;
    width: 100%;
  }
}
