.title-block {
  position: relative;
}

.title-block__title {
  margin: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;

  @media (max-width: $bp-tablet-only) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 22px;
    line-height: 22px;
    padding: 0 30% 0 0;
  }
}

.title-block__title-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  opacity: 0.03;

  @media (max-width: $bp-tablet-only) {
    font-size: 40px;
    line-height: 40px;
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 26px;
    line-height: 26px;
    top: -6px;
  }
}
