.training {
  padding: 105px calc(8% + 5px) 60px;
  overflow-x: clip;

  @media (max-width: $bp-tablet-only) {
    padding: 67px calc(6% - 2px) 20px;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 47px 5% 20px;
  }
}

.training__container {
  max-width: $bp-max-limiter;
  margin: 0 auto;
}

.training__description {
  margin: 31px 0 0;
  padding: 0 30% 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  z-index: 2;

  @media (max-width: $bp-tablet-only) {
    margin: 21px 0 0;
    padding: 0 20% 0 0;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 16px 0 0;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
  }
}

.training__slider-name {
  margin: 56px 0 0;
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @media (max-width: $bp-tablet-only) {
    margin: 66px 0 0;
    font-size: 18px;
    line-height: 18px;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 49px 0 0;
    font-size: 16px;
    line-height: 16px;
  }
}

.training__swiper {
  margin: 14px -30px 0 -30px;
  padding: 30px;

  @media (max-width: $bp-tablet-only) {
    margin: 0 -30px 0;
    padding: 30px;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 17px -15px 0 -15px;
    padding: 15px;
  }

  @media (min-width: 1441px) {
    margin: 14px 0 0;
  }
}

.training__slider-container {
  position: relative;
}

.training__learning-title {
  display: block;
  margin: 20px 0 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @media (max-width: $bp-tablet-only) {
    margin: 15px 0 0;
    font-size: 18px;
    line-height: 18px;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 23px 0 0 3px;
    font-size: 16px;
    line-height: 16px;
  }
}

.training__learning-list {
  margin: 40px 0 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    background-color: rgba(2, 102, 193, 0.2);
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: $bp-tablet-only) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 90px;

    &::after {
      position: absolute;
      content: "";
      width: 52%;
      height: 56px;
      background-color: transparent;
      border: 1px solid rgba(2, 102, 193, 0.2);
      border-left: 1px solid transparent;
      top: 49%;
      transform: translateY(-50%);
      left: 7px;
    }

    @media (max-width: $bp-mobile-only) {
      margin: 30px 0 0;
      grid-template-columns: repeat(1, 1fr);
      column-gap: 0;
      row-gap: 25px;

      &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 80%;
        background-color: rgba(2, 102, 193, 0.2);
        border: 0;
        top: 50%;
        left: 7px;
        transform: translateY(-50%);
      }
    }
  }
}

.training__learning-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $color-navy-blue;
    bottom: -42px;
    left: 0;
  }

  @media (max-width: $bp-tablet-only) {
    padding: 0 20% 0 0;
    font-size: 14px;
    line-height: 22px;

    &::before {
      bottom: -24px;
    }

    &--top-mark {
      &::before {
        top: -24px;
      }
    }

    &--re-order {
      order: 1;
    }
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 12px;
    line-height: 18px;
    padding: 0 16% 0 12%;

    &::before {
      bottom: 50%;
      transform: translateY(50%);
    }

    &--top-mark {
      &::before {
        top: auto;
      }
    }

    &--re-order {
      order: 0;
    }

    & svg {
      width: 30px;
      height: 30px;
    }
  }
}

.training__buttons-wrapper {
  top: -1px;
  right: 1px;

  @media (max-width: $bp-tablet-only) {
    top: -5px;
  }

  @media (max-width: $bp-mobile-only) {
    top: -7px;
    right: -1px;
  }
}
